@charset 'UTF-8';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {  font-family: 'Noto Sans KR', sans-serif;}
*{margin:0;padding:0; color: #222; text-decoration: none; box-sizing: border-box; list-style: none;}
h1{font-size: 18px;} h2{font-size: 16px; font-weight: 500;} h3 {font-size: 14px; font-weight: 500;}
h4 {font-size: 14px; font-weight: 400; color: #000;}
h2, h3 {border-radius: 4px;}
:root {
  --gnb: #bec9ca;
  --lnb: #e0e5e5;
  --lnbinner: #f0f3f3;
  --line: #f4f8f8;
}
.asideMenu {
  overflow-y: auto;
  // box-shadow: 5px 0 14px rgba(100,100,100,.1);
  position: fixed; z-index: 5;
  border-right: 1px solid var(--lnbinner);
  background: #f4f8f8;
  width: 260px; height: 100%;
  padding: 1rem 1.5em;
  section:nth-child(1) {
    display: flex; justify-content: center;
    padding: 1rem 0;
    background: var(--lnb);
    border-radius: 8px 8px 0 0;
  }
  section:nth-child(2) {
    padding: .5rem 0;
    p {
      font-size: 14px;
      padding: 4px 12px;
      color: #789394;
      span {
        color: #789394;
        > a {color: #789394; float: right;}
      }
    }
  }
  section:nth-child(3) {
    clear: both;
    div.acc {
      h2 {
        position: relative;
        cursor: pointer;
        text-align: left;
        padding: 8px 12px;
        margin: 4px 0;
        background: var(--gnb);
        > i {
          position: absolute; top: 4px; right: 14px;
        }
      }
      ul {
        li {
          // display: none;
          h3 {
            background: var(--lnb);
            a {
              margin-bottom: 3px;
              width: 100%;
              display: block;
              padding: 4px 24px;
            }
          }
        }
        li.lnb {
          ul {
            li {
              h4 {
                background: var(--lnbinner);
                padding: 2px 0 2px 34px;
                margin-bottom: 3px;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
}
.main {
  margin-left: 260px;
  position: relative; z-index: 1;
  > h5 {
    font-size: 1rem;
    font-weight: 400;
    padding: .3rem 2em;
    background: #2a4142;
    display: flex;
    > span {
      position: relative;
      color: var(--lnb);
      > i {
        color: var(--lnb);
        margin-right: 10px;
        position: relative; top: -3px;
     }
    }
  }
  > a {
    > i {
      color: var(--lnb);
      position: absolute;
      right: 30px;
      top: 50%; transform: translateY(-70%);
    }
  }
}
.depth3 {
  position: relative;
  a > i {
    position: absolute; right: 10px; top: 1px;
  }
}
